*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: lightslategrey;
}

table.tbl{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

input[type="button"]{
    color: #000;
    cursor: pointer;
    background: white;
    font-size: 2em;
    border: 1px solid #ddd;
    padding: 20px;
    width: 100%;
    margin: 10px 60px 10px 0px;
}

input[type="text"]{
    color: #000;
    background: white;
    font-size: 2em;
    border: 1px solid #ddd;
    padding: 20px;
    width: 100%;
}
#clear{
    background: aqua;
    border: 1px solid aqua;
}